<div class="navbar">
  <h1 class="logo">Halo, Dek <%= user.username || '' %></h1>
  <!-- IF NOT LOGGED IN -->
  <% if (!user) { %>
  <button><a href="/user/login">Login Account</a></button>
  <% } else { %>
  <button style="padding: 10px">
    <a href="/payment/checkout">Add Credits</a>
  </button>
  <button style="padding: 10px; background-color: #7cb9e8">
    <a href="/">Credits: <%= user.credits %> </a>
  </button>
  <button style="padding: 10px; background-color: #000">
    <a href="/user/logout">Logout</a>
  </button>
  <% } %>
</div>

<script>
  const logo = document.querySelector(".logo");

  logo.style.cursor = "pointer";

  logo.addEventListener("click", () => {
    window.location.href = "/";
  });
</script>
