<div class="navbar">
  <h1 class="logo">Halo, Dek</h1>
  <!-- IF NOT LOGGED IN -->
  <% if (!user) { %>
  <button><a href="/user/login">Login Account</a></button>
  <% } else { %>
  <button style="padding: 10px">
    <a href="/payment/checkout">Stripe</a>
  </button>
  <% } %>
</div>

<script>
  const logo = document.querySelector(".logo");

  logo.style.cursor = "pointer";

  logo.addEventListener("click", () => {
    window.location.href = "/";
  });
</script>
