<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <%- include('partials/style') %>
  </head>
  <body>
    <%- include('partials/navbar') %>

    <div class="container header">
      <h1>Login into Halodek</h1>
    </div>
    <div class="container login-form">
      <form action="/user/login" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" />

        <label for="password">Password</label>
        <input type="password" name="password" />
        <% if (err) { %>
        <br /><br /><span style="color: red"><%= err %> </span><br /><br />
        <% } %>

        <input type="submit" value="Log In" class="login" />
      </form>
      <a href="/user/register"
        ><input type="submit" value="Register" class="register"
      /></a>
    </div>
  </body>
</html>
